<div class="publisher-container">
  <m-table [value]=publishers
           (onEditInit)="initEdit($event)"
           [(selection)]="selectedPublishers"
           [selectable]="true"
           [selectionMode]="'single'"
           [sortLocal]="false"
           (onSort)="onSortChange($event)"
           (onPage)="onPageChange($event)"
           (onRowClick)="openPublisherInfoDialog($event)">

    <m-header>
      <ng-template let-header>
        <div class="card-header">
          <button mat-raised-button
                  color="primary"
                  (click)="openPublisherAddDialog($event)"
                  class="btn-margin">Add Publisher</button>
          <button [disabled]="!selectedPublishers.length"
                  mat-raised-button
                  (click)=editMenu.open()
                  class="btn-margin">
            <mat-select [disabled]="!selectedPublishers.length"
                        #editMenu
                        placeholder="Edit Publisher"
                        class="agencyList">
              <mat-option (click)="editPublisher(option)"
                          *ngFor="let option of editOptions">{{option.name}}</mat-option>
            </mat-select>
          </button>

          <button mat-raised-button
                  *ngIf="selectedPublishers.length"
                  (click)="openPublisherSchemaDialog()"
                  class="btn-margin">Schema Mapping</button>

          <button mat-raised-button
                  (click)=agencyMenu.open()
                  class="agencyFilter">
            <mat-select #agencyMenu
                        [(ngModel)]="selectedAgency"
                        class="agencyList">
              <mat-option (click)="onAgencyChange()"
                          value="All Agencies">All Agencies</mat-option>
              <mat-option (click)="onAgencyChange(agency)"
                          *ngFor="let agency of utilService.agencies"
                          [value]="agency">{{agency.charAt(0).toUpperCase() + agency.slice(1)}}</mat-option>
            </mat-select>
          </button>

          <div class="box-search">
            <div class="box-search-icon">
              <button mat-icon-button
                      (click)="onQuerySearch(searchInput.value)">
                <mat-icon class="mat-24"
                          aria-label="Search icon">search</mat-icon>
              </button>
            </div>
            <div class="box-search-input-wrapper">
              <input #searchInput
                     type="text"
                     [matAutocomplete]="auto"
                     [formControl]="typeAheadController"
                     placeholder="Search...">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option class="dropdown-option"
                            *ngFor="let item of filteredOptions | async"
                            [value]="item">
                  <span>{{ item }}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>


          <div class="table-options">
            <button mat-icon-button
                    class="col-setting-btn"
                    (click)="onRefresh()">
              <mat-icon class="mat-24"
                        aria-label="refresh">refresh</mat-icon>
            </button>
          </div>

        </div>
      </ng-template>
    </m-header>

    <m-footer [paginator]="true"
              [pageSize]="params.limit"
              [pageIndex]="params.page - 1"
              [pageSizeOptions]="[10,20,50]"
              [length]="typeAhead?.length"></m-footer>

    <m-column field="status"
              header="Status"
              [editable]="selectedAgency && selectedAgency !== 'All Agencies'"
              [editTrigger]="'button'">
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        <i class="material-icons status-icon active"
           *ngIf="(row['additionalFields']['activeClients']).length">check_circle</i>
        <i class="material-icons status-icon paused"
           *ngIf="!(row['additionalFields']['activeClients']).length">pause_circle_filled</i>
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div style="margin-bottom: 1rem">
            Pause all clients for this Agency
          </div>
          <mat-hint class="error-hint">{{ updateError }}</mat-hint>
          <app-editor-action primaryBtn="Pause"
                             primaryIcon="pause_circle_filled"
                             [primaryDisabled]="!(row['additionalFields']['activeClients']).length"
                             [loading]="updating"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="pauseClients(row)"></app-editor-action>

        </mat-card>
      </ng-template>
    </m-column>

    <m-column field="name"
              header="Publisher"
              [sortable]="true"
              [editable]="true"
              [editTrigger]="'button'">
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['placement'][col.field]}}
      </ng-template>

      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input matInput
                     #inputEditor
                     [ngModel]="row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('name', row, inputEditor.value)"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column field="feedIndexLatency"
              [editable]="true"
              [sortable]="true"
              [editTrigger]="'button'">
      <ng-template mTemplate="header">
        Latency Window<br>(in hrs)
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['placement'][col.field] }}
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input matInput
                     #inputEditor
                     type="number"
                     [ngModel]="row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('feedIndexLatency', row, inputEditor.value)"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column field="activeClients"
              [sortable]="true">
      <ng-template mTemplate="header">
        Active<br>Clients
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{(row['additionalFields']['activeClients']).length }}
      </ng-template>
    </m-column>

    <m-column field="perClientPlacements"
              [editable]="true"
              [sortable]="true"
              [editTrigger]="'button'">
      <ng-template mTemplate="header">
        Feed Type
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['placement'][col.field] ? 'Client' : 'Comprehensive'}}
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body" style="padding: 1rem 0">
            <mat-checkbox #inputEditor [ngModel]="row['placement'][col.field]">Per client Feed</mat-checkbox>
            <mat-hint class="error-hint">{{updateError}}</mat-hint>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('perClientPlacements', row, inputEditor.checked)"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column *ngIf="selectedAgency && selectedAgency !== 'All Agencies'" [colBodyClass]="'border-left'" [colHeadClass]="'border-left'">
      <ng-template mTemplate="header">
        Old XML<br>Feed
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        <i *ngIf="row['feedFileInfo']['fileType'] === 'oldXml'" class="material-icons status-icon active">lens</i>
        <i *ngIf="row['feedFileInfo']['fileType'] !== 'oldXml' && row['feedFileInfo'].timeElapsed && row['feedFileInfo'].timeElapsed <= 259200000" class="material-icons status-icon active md-inactive">remove_circle</i>
        <i *ngIf="row['feedFileInfo']['fileType'] !== 'oldXml' && (!row['feedFileInfo'].timeElapsed || row['feedFileInfo'].timeElapsed > 259200000)" class="material-icons status-icon paused">block</i>
        <span style="font-size: 0.6rem;color: #757575" *ngIf="getRemainingHours(row)">{{getRemainingHours(row)}} hrs</span>
      </ng-template>
    </m-column>

    <m-column *ngIf="selectedAgency && selectedAgency !== 'All Agencies'" [editable]="true" [editTrigger]="'button'">
      <ng-template mTemplate="header">
        New XML<br>Feed
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        <i *ngIf="row['feedFileInfo']['fileType'] === 'newXml'" class="material-icons status-icon active">lens</i>
        <i *ngIf="row['feedFileInfo']['fileType'] !== 'newXml'" class="material-icons status-icon active">panorama_fish_eye</i>
        <!--<i *ngIf="row['feedFileInfo']['fileType'] === 'zipped'" class="material-icons status-icon paused">block</i>-->
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body" style="padding: 1rem 0">
              <mat-checkbox [disabled]="row['feedFileInfo']['fileType'] === 'newXml'" [checked]="row['feedFileInfo']['fileType'] === 'newXml'">Use New XML Feed <mat-icon style="font-size: 1rem;" [matTooltipPosition]="'above'" matTooltip="Once you select the New XML feed, Old XML feed will automatically disable after 72 hours.">info</mat-icon></mat-checkbox>
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             [primaryDisabled]="row['feedFileInfo']['fileType'] === 'newXml'"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('feedFileType', row, 'newXml')"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column *ngIf="selectedAgency && selectedAgency !== 'All Agencies'" [editable]="true" [editTrigger]="'button'" [colBodyClass]="'border-right'" [colHeadClass]="'border-right'">
      <ng-template mTemplate="header">
        Zipped<br>Feed
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        <i *ngIf="row['feedFileInfo']['fileType'] === 'zipped'" class="material-icons status-icon active">lens</i>
        <i *ngIf="row['feedFileInfo']['fileType'] !== 'zipped'" class="material-icons status-icon active">panorama_fish_eye</i>
        <!--<i *ngIf="row['feedFileInfo']['fileType'] === 'newXml'" class="material-icons status-icon paused">block</i>-->
      </ng-template>

      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body" style="padding: 1rem 0">
            <mat-checkbox [disabled]="row['feedFileInfo']['fileType'] === 'zipped'" [checked]="row['feedFileInfo']['fileType'] === 'zipped'">Use Zipped Feed <mat-icon style="font-size: 1rem;" [matTooltipPosition]="'above'" matTooltip="Once you select the Zipped feed, Old XML feed will automatically disable after 72 hours.">info</mat-icon></mat-checkbox>
            <mat-hint class="error-hint">{{updateError}}</mat-hint>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             [primaryDisabled]="row['feedFileInfo']['fileType'] === 'zipped'"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('feedFileType', row, 'zipped')"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column field="bidType"
              header="Bid Type"
              [sortable]="true">
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['placement']['bidType']['name'].replace('_', ' ')}}
      </ng-template>
    </m-column>

    <m-column field="minBid"
              [sortable]="true"
              [editable]="true"
              [editTrigger]="'button'">
      <ng-template mTemplate="header">
        Min Bid/<br>Flat Bid
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{getBidDisplayValue(row['placement'])}}
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input type="number"
                     matInput
                     #inputEditor
                     [ngModel]="row['placement']['flatBidValue'] || row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('minBid', row, inputEditor.value)"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column field="currency"
              header="Currency"
              [sortable]="true">
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['placement'][col.field] ? row['placement'][col.field] : '-'}}
      </ng-template>
    </m-column>

    <m-column field="url"
              header="URL"
              [sortable]="true"
              [editable]="true"
              [editTrigger]="'button'">
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['placement'][col.field]}}
      </ng-template>
      <ng-template let-col
                   let-row="row"
                   mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input matInput
                     #inputEditor
                     [ngModel]="row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <app-editor-action primaryBtn="Update"
                             [loading]="updating"
                             (onSecondaryBtnClick)="closeEditor()"
                             (onPrimaryBtnClick)="updateValue('url', row, inputEditor.value)"></app-editor-action>
        </mat-card>
      </ng-template>
    </m-column>

    <ng-template mTemplate="emptyTable">
      <div *ngIf="loading"
           class="table-loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div>Loading...</div>
      </div>
    </ng-template>
  </m-table>
</div>
