:host{
  --first-column-padding: 0 12px 0 24px;
}
:host ::ng-deep th,
:host ::ng-deep td {
  white-space: nowrap !important;
}

:host ::ng-deep .left-sticky {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #fff;
}

.normal-linehight{
  line-height: normal;
}

.card-header{
  display: flex;
  flex: 1;
  height: 4rem;
  align-items: center;
}


.table-loading mat-progress-bar {
  height: 2px;
  position: absolute;
  top: 0;
}
.table-loading div {
  padding: 0 1.5rem;
}

::ng-deep .mat-paginator-container{
  min-height: 55px !important;
}

:host ::ng-deep tr:hover td{
  background: #EEEEEE;
}
:host ::ng-deep tr.m-row-selected td{
  background: #EEEEEE;
}
:host ::ng-deep tr{
  transition: all 0s !important;
}

.link-column{
  text-decoration: none;
  color: #3f51b5;
}

:host ::ng-deep .border-left{
  border-left: 1px solid #e5e5e5;
}

