@import "../../../scss/colors";
:host {
  display: inline-flex;
}
.sec-btn {
  background: $grey-2;
  color: $grey-6;
  margin: 0 0.5rem;
  mat-icon {
    padding-left: 5px;
  }
}

.dropdown-option {
  height: 34px;
  line-height: 34px;
  font-size: 0.9rem;
}
.daterange-container {
  display: flex;
}
.box-search {
  margin-right: 0.5rem;
  display: inline-flex;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  :last-child {
    margin-right: 0;
  }
  input {
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 8px 8px;
    color: $grey-6;
    width: 6rem;
  }
  .box-search-input-wrapper {
    display: flex;
  }
}
:host ::ng-deep .mat-icon-button {
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: $grey-6;
}
:host ::ng-deep mat-datepicker-toggle .mat-icon {
  width: 18px;
  height: 18px;
}
.datepicker-toggle {
  background: $grey-2;
}
