@import "../../../scss/colors";

:host {
  --column-padding: 0 1rem;
}
:host ::ng-deep th,
:host ::ng-deep td {
  white-space: nowrap !important;
}
:host ::ng-deep .edit-icon {
  color: $primary !important;
}

:host ::ng-deep .align-right{
  text-align: right !important;
}

.publisher-container{
  display: block;
  padding: 1rem;
  background: #fafafa
}

.card-header{
  display: flex;
  flex: 1;
  height: 4rem;
  align-items: center;
}

.sec-btn{
  background: #e5e5e5;
  color: #555555;
  margin-right: 10px;
  mat-icon{
    padding-left: 5px;
  }
}

.box-search{
  margin-right: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  input{
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 9px 12px;
  }
  .box-search-icon{
    float: right;
    display: flex;
    button{
      width: 36px;
      height: 36px;
      line-height: 36px;
      color: gray;
    }
  }
  .box-search-input-wrapper{
    display: flex;
  }
}

.table-options{
  margin-left: auto;
  color: grey;
}

.dropdown-option{
  height: 34px;
  line-height: 34px;
  font-size: 0.9rem;
}

// Table header
.normal-linehight{
  line-height: normal;
}

// Table Body css
.table-loading mat-progress-bar {
  height: 2px;
  position: absolute;
  top: 0;
}
.table-loading div {
  padding: 0 1.5rem;
}

.status-icon {
  font-size: 1rem;
  margin-top: 0.7rem;
}
.active {
  color: $primary;
}
.paused {
  color: $grey-5;
}
.inactive {
  color: $grey-5;
  transform: rotate(45deg);
}
