<div *ngIf="routeData.data.entity">
  <div>
    <nav mat-tab-nav-bar style="background: #fff">
      <a mat-tab-link
         *ngFor="let link of childNavLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>

  <app-stats-table [title]="'Stats'"
                     [routeData]="routeData"
                     (rowClick)="onRowClick($event)"
                     [disableLink]="(routeData.data.subLevel)">
    </app-stats-table>
  </div>

