<div class="publisher-container">
  <m-table [value]=publishers [selectable]="true" [selectionMode]="'single'">


    <m-header>
      <ng-template let-header >
        <div class="card-header">
          <button mat-raised-button color="primary" style="margin-right: 1rem">Add Publisher</button>

          <button #agencyBtn mat-raised-button class="sec-btn" [matMenuTriggerFor]="agencyMenu">All Agencies<mat-icon>arrow_drop_down</mat-icon></button>
          <mat-menu #agencyMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item *ngFor="let option of [{name: 'All Agency', value: 'all_agency'}, {name: 'Bayard', value: 'bayard'}]" class="dropdown-option" (click)="onAgencyChange(option)">{{option.name}}</button>
          </mat-menu>

          <div class="box-search">
            <div class="box-search-icon">
              <button mat-icon-button (click)="onQuerySearch(searchInput.value)">
                <mat-icon class="mat-24" aria-label="Search icon">search</mat-icon>
              </button>
            </div>
            <div class="box-search-input-wrapper">
              <input #searchInput type="text"  placeholder="Search...">
            </div>
          </div>


          <div class="table-options">
            <button mat-icon-button class="col-setting-btn">
              <mat-icon class="mat-24" aria-label="column">view_column</mat-icon>
            </button>

            <button mat-icon-button class="col-setting-btn" (click)="openDialog()">
              <mat-icon class="mat-24" aria-label="download">file_download</mat-icon>
            </button>

            <button mat-icon-button class="col-setting-btn">
              <mat-icon class="mat-24" aria-label="refresh">refresh</mat-icon>
            </button>
          </div>

        </div>
      </ng-template>
    </m-header>

    <m-column field="label" header="Publisher" [sortable]="true"></m-column>
    <m-column field="bidType" header="Bid Type" [sortable]="true"></m-column>
    <m-column field="minBid" header="Min Bid" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row[col.field] ? row[col.field] : '-'}}
      </ng-template>
    </m-column>
    <m-column field="currency" header="Currency" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row[col.field] ? row[col.field] : '-'}}
      </ng-template>
    </m-column>
    <m-column field="url" header="URL" [sortable]="true"></m-column>
    <m-column field="" header="Edit">
      <ng-template let-col let-row="row" mTemplate="body">
        <i class="material-icons" (click)="onEditPublisher(row)" style="font-size: 1rem; color: gray; cursor: pointer">mode_edit</i>
      </ng-template>
    </m-column>
  </m-table>
</div>

