<div class="head">
  <app-breadcrumb [segments]="breadcrumbSegments"></app-breadcrumb>
</div>
<mat-card class="jv-form">
  <form
    [formGroup]="creationForm"
    novalidate
    (ngSubmit)="onSubmit()"
    class="publisher-create"
  >
    <div>
      <div formGroupName="placement">
        <div style="display:flow-root">
          <b class="mb-0">Publisher Details</b>
          <!-- <button
            class="pull-right"
            color="primary"
            mat-icon-button
            (click)="navigateBack()"
          >
            <mat-icon aria-label="Example icon-button with a heart icon"
              >clear</mat-icon
            >
          </button> -->
        </div>
        <div class="grid-container">
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Publisher Name*</mat-label>
            <input
              matInput
              placeholder="Publisher Name*"
              pattern="[a-zA-Z0-9, ,.,_,(,),-]+$"
              formControlName="name"
            />
            <mat-error
              *ngIf="
                creationForm.get('placement').get('name').errors &&
                creationForm.get('placement').get('name').touched
              "
            >
              <p>
                {{
                  getFieldErrorMessage(
                    creationForm.get("placement").get("name").errors
                  )
                }}
              </p>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Publisher URL*</mat-label>
            <input
              matInput
              placeholder="Publisher URL*"
              formControlName="url"
            />
            <mat-error
              *ngIf="
                !creationForm.get('placement').get('url').valid &&
                creationForm.get('placement').get('url').touched
              "
              >URL is required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Publisher Model*</mat-label>
            <mat-select formControlName="bidType" placeholder="Bid Type*">
              <mat-option *ngFor="let type of bidTypes" [value]="type.value">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                !creationForm.get('placement').get('bidType').valid &&
                creationForm.get('placement').get('bidType').touched
              "
              >Publisher Model is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Industry</mat-label>
            <mat-select
              formControlName="industry"
              placeholder="Industry"
            >
              <mat-option
                *ngFor="let industry of utilService.industries"
                [value]="industry"
              >
                {{ industry }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" placeholder="Country">
              <mat-option
                *ngFor="let country of utilService.countries"
                [value]="country"
              >
                {{ country }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Currency*</mat-label>
            <mat-select formControlName="currency" placeholder="Currency*">
              <mat-option
                *ngFor="let currency of utilService.currencies"
                [value]="currency"
              >
                {{ currency }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                !creationForm.get('placement').get('currency').valid &&
                creationForm.get('placement').get('currency').touched
              "
              >Currency is required</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="grid-item-4"
            *ngIf="!flatBidPublisher"
          >
            <mat-label>Minimum Bid</mat-label>
            <input
              type="number"
              matInput
              numbersOnly
              step="0.1"
              placeholder="Min Bid"
              formControlName="minBid"
            />
          </mat-form-field>
          <div class="grid-item-12">
            <b class="mb-0">Publisher Contact Details</b>
          </div>
          <div
            class="grid-item-12"
            formArrayName="publisherContactDetailsRevamp"
            [ngStyle]="{
              'grid-row-start': '5',
              'grid-row-end':
                creationForm['controls'].placement['controls']
                  .publisherContactDetailsRevamp['controls'].length + 5
            }"
          >
            <div
              *ngFor="
                let pubContact of creationForm['controls'].placement['controls']
                  .publisherContactDetailsRevamp['controls'];
                let index = index; let length = count;
              "
            >
              <div [formGroupName]="index" class="contact-details">
                <mat-form-field appearance="outline" class="contact-field">
                  <mat-label>Email ID</mat-label>
                  <input
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    name="email"
                  />
                </mat-form-field>
                <div class="contact-vp">
                  <mat-checkbox formControlName="vpAccessEnabled" class="contact-vp-access" (change)="changeVpAccess(pubContact)">
                    VP Access
                  </mat-checkbox>
                  <mat-checkbox
                    class="contact-notification"
                    formControlName="notificationEnabled"
                    (change)="changeSendNotification(pubContact)"
                  >
                    Send Notification if feed is not picked in
                    <mat-form-field appearance="outline" class="">
                      <input type="number" matInput numbersOnly name="hours"  formControlName="notificationAlertThreshold"/>
                    </mat-form-field>
                    Hours
                  </mat-checkbox>
                  <button
                    class="pull-right"
                    color="primary"
                    mat-icon-button
                    (click)="removePubContact(index)"
                    *ngIf = "length>1"
                  >
                    <mat-icon aria-label="Example icon-button with a heart icon"
                      >clear</mat-icon
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item-12 mt-3">
            <button
              type="button"
              mat-raised-button
              class="button-inline small-button"
              color="primary"
              (click)="addPubContact()"
            >
              Add
            </button>
          </div>
        </div>
        <b class="mb-0">Publisher Portal Details</b>
        <div formArrayName="vendorPortalDetails" class="grid-container">
          <div
            class="grid-item-12"
            *ngFor="
              let pubContact of creationForm['controls'].placement['controls']
                .vendorPortalDetails['controls'];
              let index = index; let length = count;"
          >
            <div [formGroupName]="index" class="contact-details">
              <mat-form-field appearance="outline" class="contact-field">
                <mat-label>URL</mat-label>
                <input matInput placeholder="URL" formControlName="url" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="contact-field">
                <mat-label>Username</mat-label>
                <input
                  matInput
                  placeholder="Username"
                  formControlName="username"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" style="width:380px">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Password"
                  formControlName="password"
                />
              </mat-form-field>
              <button
                class="pull-right"
                color="primary"
                mat-icon-button
                (click)="removeVendorDetails(index)"
                *ngIf = "length>1"                
              >
                <mat-icon aria-label="Example icon-button with a heart icon"
                  >clear</mat-icon
                >
              </button>
            </div>
          </div>
          <button
            type="button"
            mat-raised-button
            class="button-inline small-button"
            color="primary"
            (click)="addVendorDetails()"
          >
            Add
          </button>
        </div>
        <b class="mb-0"> Feed Configuration</b>
        <div class="grid-container">
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Feed Type</mat-label>
            <mat-select formControlName="perClientPlacements" placeholder="Mode">
                <mat-option
                  *ngFor="let type of feedTypes"
                  [value]="type.value"
                >
                {{ type.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <div class="grid-item-4">
            <mat-checkbox formControlName="isCompressedFeed">
              Compress Feed (ZIP)
            </mat-checkbox>
          </div>
        </div>
        <b class="mb-0">
          <mat-checkbox formControlName="deliverFeedByFTP">
            Deliver feed by FTP
          </mat-checkbox></b
        >

        <div formGroupName="ftpConfig" *ngIf="creationForm.controls.placement.controls.deliverFeedByFTP.value">
          <div class="grid-container">
            <div formGroupName="credentials" class="grid-container grid-item-12 p-0">
              <mat-form-field appearance="outline" class="grid-item-4">
                <mat-label>Host Name*</mat-label>
                <input matInput placeholder="Host*" formControlName="host" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="grid-item-4">
                <mat-label>Username*</mat-label>
                <input
                  matInput
                  placeholder="Username*"
                  formControlName="username"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="grid-item-4">
                <mat-label>Password*</mat-label>
                <input
                  matInput
                  placeholder="Password*"
                  formControlName="password"
                />
              </mat-form-field>
            </div>
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>FTP Path*</mat-label>
            <input
              matInput
              name="ftpPath"
              placeholder="FTP Path"
              formControlName="pathTemplate"
            />
          </mat-form-field>
        </div>
        </div>

        <b class="mb-0 recon-details">Reconciliation Details</b>

        <div
          formGroupName="publisherReconciliationDetails"
          class="grid-container"
          >
          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode" placeholder="Mode">
              <mat-option
                *ngFor="let mode of utilService.modesOfFile"
                [value]="mode"
              >
                {{ mode }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
              placeholder="Start Date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Frequency</mat-label>
            <input
              matInput
              placeholder="Frequency"
              formControlName="frequency"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="grid-item-4">
            <mat-label>Timezone</mat-label>
            <input matInput placeholder="Timezone" formControlName="timezone" />
          </mat-form-field>
        </div>

        <b class="mb-0" *ngIf="enableClickDefs">Clicks Definitions</b>
        
        <div *ngIf="enableClickDefs">
    
            <button type="button" mat-stroked-button color="primary" style="float: right" [disabled]="!creationForm.get('placement').get('perClientPlacements').value" (click)="addClientDef()">Add Client</button>
    
            <mat-form-field class="right-input ml-2" style="display: block; width: 300px;">
              <input type="text"
                     matInput
                     [readonly]="true"
                     name="req-input-file"
                     [placeholder]="'Upload Bot IPs'"
                     accept=".csv">
              <input type="file" accept=".csv" [hidden]="true" id="reqInput" (change)="uploadBotFile($event)">
              <mat-spinner *ngIf="uploadingFile" matSuffix [strokeWidth]="2" [diameter]="20"></mat-spinner>
              <label class="mat-raised-button mat-primary"
                     [for]="'reqInput'"
                     matPrefix>Browse</label>
              <button
                *ngIf="botFile"
                matSuffix
                mat-icon-button
                (click)="download()"
                class="col-setting-btn">
                <mat-icon color="primary" aria-label="download" style="font-size: 1.2rem">file_download</mat-icon>
              </button>
              <a matSuffix class="cursor anchor pl-2" target="_blank" (click) = "downloadSampleCSV()" [ngClass]="{'sample-download': botFile}" matTooltip="Download Sample CSV File Format">
                  <mat-icon class="primary-text-color">info</mat-icon>
              </a>
            </mat-form-field>
    
            <m-table
              [value]="clientDefs"
              [selectionHandler]="false">
              <m-column [field]="'name'" [header]="'Client'" [colHeadClass]="'custom-appearance'" [colBodyClass]="'custom-appearance'">
                <ng-template mTemplate="body" let-row="row" let-rowIndex="rowIndex" let-col>
    
                  <mat-form-field appearance="outline" *ngIf="rowIndex !== 0;else non_select" class="click-defs">
                    <mat-select (selectionChange)="row['name'] = $event.value.name;row['id'] = $event.value.id;" [value]="row['selectedClient']">
                      <mat-option *ngFor="let client of clients" [value]="client">
                        {{client.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
    
                  <ng-template #non_select>
                    {{row['name']}}
                  </ng-template>
    
                </ng-template>
              </m-column>
              <m-column [header]="'Preset'" [colHeadClass]="'custom-appearance'" [colBodyClass]="'custom-appearance'">
                <ng-template let-row="row" mTemplate="body">
                  <mat-form-field appearance="outline" style="width: 100%" class="click-defs">
                    <mat-select (selectionChange)="changePreset($event, row)">
                      <mat-option *ngFor="let preset of defPresets" [value]="preset">
                        {{preset.name}}
                        <span style="font-size: 0.7rem;">{{preset.def}}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-template>
              </m-column>
    
              <m-column [field]="'duplicate'" [colHeadClass]="'custom-appearance'" [colBodyClass]="'custom-appearance'">
                <ng-template mTemplate="header">
                    Duplicate Clicks <br> (HH:MM:SS)
                </ng-template>
                <ng-template mTemplate="body" let-row="row">
                  <mat-checkbox class="mr-4" [checked]="row.allowDuplicate" (change)="toogleCHDefs(row,'allowDuplicate')"></mat-checkbox>
                  <mat-form-field appearance="outline" class="small-input click-defs">
                    <input matInput [readonly]="true" [disabled]="!row.allowDuplicate" value="{{row.duplicate | timerange}}">
                    <jv-timerange id = "duplicateTimepicker" matSuffix [timeRange]="row.duplicate" (apply)="row.duplicate = $event"></jv-timerange>
                  </mat-form-field>
                </ng-template>
              </m-column>
    
              <m-column [field]="'latent'" [colHeadClass]="'custom-appearance'" [colBodyClass]="'custom-appearance'">
                <ng-template mTemplate="header">
                    Latent Clicks <br> (HH:MM:SS)
                </ng-template>
                <ng-template mTemplate="body" let-row="row">
                  <mat-checkbox class="mr-4" [checked]="row.allowLatent" (change)="toogleCHDefs(row,'allowLatent')"></mat-checkbox>
                  <mat-form-field appearance="outline" floatLabel="never" class="small-input click-defs">
                    <input matInput [readonly]="true" [disabled]="!row.allowLatent" value="{{row.latent | timerange}}">
                    <jv-timerange matSuffix [timeRange]="row.latent" (apply)="row.latent = $event"></jv-timerange>
                  </mat-form-field>
                </ng-template>
              </m-column>
    
              <m-column [header]="'Foreign Clicks'" [colHeadClass]="'custom-appearance'" [colBodyClass]="'custom-appearance'">
                <ng-template let-row="row" let-col mTemplate="body">
                  <mat-checkbox class="mr-4" [checked]="row.allowForeign" (change)="toogleCHDefs(row,'allowForeign')"></mat-checkbox>
                  <mat-form-field appearance="outline" class="small-input click-defs">
                    <mat-select [disabled]="!row.allowForeign" (selectionChange)="row.foreign = $event.value" [value]="row.foreign">
                      <mat-option *ngFor="let item of foreignClicksOptions" [value]="item.value">
                        {{item.display}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-template>
              </m-column>
              <m-column [field]="'bot'" [header]="'Bot Clicks'">
              <ng-template mTemplate="body" let-row="row" let-col>
                    <mat-checkbox [checked]="row['bot']" (change)="toogleCHDefs(row,'bot')"></mat-checkbox>
                </ng-template>
              </m-column>
    
              <m-column [header]="'Delete'">
                <ng-template mTemplate="body" let-row="row" let-rowIndex="rowIndex">
                  <button type="button" mat-icon-button (click)="deleteClientCong(row,rowIndex)" [disabled]="rowIndex === 0">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </m-column>
            </m-table>
            </div>
      </div>
    </div>

    <mat-card-actions>
      <button
        type="button"
        *ngIf="!loading"
        mat-raised-button
        (click)="navigateBack()"
      >
        Cancel
      </button>
      <button
        type="submit"
        mat-raised-button
        [disabled]="loading"
        class="button-inline submit-btn"
        color="primary"
      >
        {{ isModeEdit ? "Edit Publisher" : "Add Publisher" }}
        <mat-spinner *ngIf="loading" [diameter]="20" style="margin:10px;"></mat-spinner>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
