<div>
  <nav mat-tab-nav-bar style="background: #fff">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{ link.label }}
    </a>
  </nav>
</div>

<div class="pa-2">
  <m-table
    [value]="totalResp.data"
    (onFilter)="onFilter($event)"
    (onRowClick)="onRowClick($event)"
    (onPage)="onPageChange($event)"
    (onReload)="onReload()"
    [selectable]="true" [selectionMode]="'single'"
    [(selection)]="selectedAgency"  
  >
    <m-header>
      <ng-template let-header>
        <div class="card-header">
          <button mat-raised-button color="primary" (click)="openAgencyAddDialog($event)" class="btn-margin">Add Agency</button>
          <!-- Manage section  -->
          <button [disabled]="!selectedAgency" mat-raised-button (click)="editMenu.open()" class="btn-margin">
            <mat-select [disabled]="!selectedAgency" #editMenu placeholder="Manage" class="agencyList">
              <mat-option (click)="handleMenuChange(option)"
                  *ngFor="let option of editOptions">{{option.name}}</mat-option>
            </mat-select>
          </button>

          <div class="box-search btn-margin">
            <div class="box-search-icon">
              <button mat-icon-button (click)="getAgencies()">
                <mat-icon class="mat-24" aria-label="Search icon">search</mat-icon>
              </button>
            </div>
            <div class="box-search-input-wrapper">
              <input type="text" [(ngModel)]="filters.query" placeholder="Search..." (keyup.enter)="getAgencies()" />
            </div>
          </div>
        </div>
      </ng-template>
    </m-header>

    <!-- <m-header [title]="'Agencies'" [globalSearch]="true" [searchField]="'box'" [colSetting]="false" [export]="true"> </m-header> -->

    <m-footer [paginator]="true"
    [pageSize]="filters.limit"
    [pageIndex]="filters.page - 1"
    [pageSizeOptions]="[10,20,50]"
    [length]="totalResp.totalRecords"></m-footer>

    <m-column field="name" header="Agency Name"></m-column>

    <m-column field="agencyType" header="Agency Type"> </m-column>

    <m-column field="clientCount" header="Clients"> </m-column>

    <m-column field="publisherCount" header="Publishers"> </m-column>

    <m-column field="activePublisherCount" header="Active Publishers"> </m-column>

    <ng-template mTemplate="emptyTable">
      <div *ngIf="loading" class="table-loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div>Loading...</div>
      </div>
      
      <div *ngIf="!loading">
        <div class="alert alert-primary ma-4">No records found.</div>
      </div>
    </ng-template>
  </m-table>
</div>
