<div>
  <nav mat-tab-nav-bar style="background: #fff">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{ link.label }}
    </a>
  </nav>
</div>

<div class="pa-2">
  <m-table [value]="totalResp.data" 
  (onPage)="onPageChange($event)"
  [selectable]="true" [selectionMode]="'single'"
  (onRowClick)="onRowClick($event)" (onReload)="onReload()">
    
  <m-header>
      <ng-template let-header>
        <div class="card-header">
          <button mat-raised-button color="primary" (click)="openPublisherAddDialog($event)" class="btn-margin">Add Publisher</button>
          
    

          <button [disabled]="!selectedPublishers.length"
                  mat-raised-button
                  (click)=editMenu.open()
                  class="btn-margin">
            <mat-select [disabled]="!selectedPublishers.length"
                        #editMenu
                        placeholder="Manage"
                        class="agencyList">
              <!-- <mat-option (click)="editPublisher(option)"
                          *ngFor="let option of editOptions">{{option.name}}</mat-option> -->
            </mat-select>
          </button>

          <div class="box-search btn-margin">
            <div class="box-search-icon">
              <button mat-icon-button (click)="onQuerySearch(searchInput.value)">
                <mat-icon class="mat-24" aria-label="Search icon">search</mat-icon>
              </button>
            </div>
            <div class="box-search-input-wrapper">
              <input type="text" [(ngModel)]="filters.query" placeholder="Search..." (keyup.enter)="getPublishers()"/>
            </div>
          </div>

          <!-- <button
            mat-raised-button
            (click)=statusMenu.open()
            class="btn-margin">
            <mat-select
                        #statusMenu
                        placeholder="Status"
                        [(ngModel)]="filters.status"
                        (change)="getPublishers()"
                        class="agencyList">
              <mat-option
                  *ngFor="let option of statusOptions" [value]="option.value">{{option.name}}</mat-option>
            </mat-select>
          </button> -->
        </div>
      </ng-template>
    </m-header>
    <m-column field="status"
              header="Active"
              >
      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        <i class="material-icons status-icon active"
           *ngIf="row.status === 'A'">check_circle</i>
        <i class="material-icons status-icon paused"
           *ngIf="row.status !== 'A'">pause_circle_filled</i>
      </ng-template>
    </m-column>

    <m-column field="name" header="Publisher Name"></m-column>

    <m-column field="agencyCount"
              [sortable]="true">
      <ng-template mTemplate="header">
        <span>Assigned</span>
        <br>
        <span class="sub-header">(Agencies)</span>
      </ng-template>

      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['agencyCount']}}
      </ng-template>
    </m-column>

    <m-column field="agencyCount"
              [sortable]="true">
      <ng-template mTemplate="header">
        <span>Active</span>
        <br>
        <span class="sub-header">(Agencies)</span>
      </ng-template>

      <ng-template let-col
                   let-row="row"
                   mTemplate="body">
        {{row['activeAgencyCount']}}
      </ng-template>
    </m-column>


    <m-column field="feedType" header="Feed Type"></m-column>
    <m-column field="bidType" header="Bid Type"></m-column>
    <m-column field="currency" header="Currency"></m-column>
    <m-column field="minBid" header="Min Bid"></m-column>

    <!-- <m-column field="vpAccessMails" header="VP Access">
      <ng-template let-col let-row="row" mTemplate="body">
        <span [class.cursor]="row.vpAccessMails && row.vpAccessMails.length > 0" (click)="viewContactDetails(row.vpAccessMails)">{{getContactsCount(row.vpAccessMails,'Email')}}</span>
      </ng-template>
    </m-column>


    <m-column field="notificationMails" header="Notifications">
      <ng-template let-col let-row="row" mTemplate="body">
        <span [class.cursor]="row.notificationMails && row.notificationMails.length > 0" (click)="viewContactDetails(row.notificationMails)">{{getContactsCount(row.notificationMails,'Contact')}}</span>
      </ng-template>
    </m-column> -->

    <m-footer [paginator]="true"
    [pageSize]="filters.limit"
    [pageIndex]="filters.page - 1"
    [pageSizeOptions]="[10,20,50]"
    [length]="totalResp.totalRecords"></m-footer>

    <ng-template mTemplate="emptyTable">
      <div *ngIf="loading" class="table-loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div>Loading...</div>
      </div>

      <div *ngIf="!loading">
        <div class="alert alert-primary ma-4">No records found.</div>
      </div>
    </ng-template>
  </m-table>
</div>
