<div mat-dialog-title class="dialog-header" style="margin-bottom: 0px;">
    <span>{{data.title}}</span>
    <i class="material-icons float-right my-1 cursor" (click)="close()">
      close
    </i>
</div>

<div mat-dialog-content style="padding: 10px 20px;margin: 0px;">
    <form class="client-form"
      [formGroup]="agencyForm"
      novalidate
      *ngIf="agencyForm"
      (ngSubmit)="onSubmit()">

      <div class="grid-container">
          <mat-form-field>
              <input matInput
                     placeholder="Agency Name"
                     required
                     pattern="[a-zA-Z0-9, ,.,_,(,),-]+$"
                     formControlName="name">
            </mat-form-field>
      </div>

    </form>
</div>

<div mat-dialog-actions class="dialog-footer">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addAgency()" [disabled]="agencyForm.invalid" class="btn-margin">Submit</button>
</div>

