<div class="publisher-container">
  <m-table [value]=publishers [selectable]="true" [selectionMode]="'single'"
           [sortLocal]="false" (onSort)="onSortChange($event)"
           (onPage)="onPageChange($event)"
           (onRowClick)="onRowClick($event)">


    <m-header>
      <ng-template let-header >
        <div class="card-header">
          <button mat-raised-button color="primary" (click)="openPublisherDialog($event)" style="margin-right: 1rem">Add Publisher</button>

          <button mat-raised-button (click)=agencyMenu.open() style="margin-right: 1rem">
            <mat-select #agencyMenu [(ngModel)]="selectedAgency" class="agencyList">
              <mat-option (click)="onAgencyChange()" value="All Agencies">All Agencies</mat-option>
              <mat-option (click)="onAgencyChange(agency)" *ngFor="let agency of agencies" [value]="agency">{{agency}}</mat-option>
            </mat-select>
          </button>

          <div class="box-search">
            <div class="box-search-icon">
              <button mat-icon-button (click)="onQuerySearch(searchInput.value)">
                <mat-icon class="mat-24" aria-label="Search icon">search</mat-icon>
              </button>
            </div>
            <div class="box-search-input-wrapper">
              <input #searchInput type="text" [matAutocomplete]="auto" [formControl]="typeAheadController" placeholder="Search...">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option class="dropdown-option" *ngFor="let item of filteredOptions | async"
                            [value]="item">
                  <span>{{ item }}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>


          <div class="table-options">
            <!--<button mat-icon-button class="col-setting-btn">-->
              <!--<mat-icon class="mat-24" aria-label="column">view_column</mat-icon>-->
            <!--</button>-->

            <!--<button mat-icon-button class="col-setting-btn" (click)="openDialog()">-->
              <!--<mat-icon class="mat-24" aria-label="download">file_download</mat-icon>-->
            <!--</button>-->

            <button mat-icon-button class="col-setting-btn" (click)="onRefresh()">
              <mat-icon class="mat-24" aria-label="refresh">refresh</mat-icon>
            </button>
          </div>

        </div>
      </ng-template>
    </m-header>

    <m-footer [paginator]="true" [pageSize]="params.limit" [pageIndex]="params.page - 1" [pageSizeOptions]="[10,20,50]" [length]="publisherResp?.typeahead?.length"></m-footer>

    <m-column field="name" header="Publisher" [sortable]="true" [editable]="true" [editTrigger]="'button'">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row['placement'][col.field]}}
      </ng-template>
      <ng-template let-col let-row="row" mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input matInput #inputEditor [ngModel]="row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <div class="editor-action">
            <button mat-button (click)="closeEditor()" *ngIf="!updating">Cancel</button>
            <button mat-raised-button style="margin-left: 8px;" color="primary" (click)="updateValue('name', row, inputEditor.value)" *ngIf="!updating">Update</button>
            <mat-spinner *ngIf="updating" [diameter]="20"></mat-spinner>
          </div>
        </mat-card>
      </ng-template>
    </m-column>

    <m-column field="placementType" header="Placement Type" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{(row['placement']['placementType'] && row['placement']['placementType']['name']) ? row['placement']['placementType']['name'] : '-'}}
      </ng-template>
    </m-column>

    <m-column field="activeClients" header="Active Clients" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{(row['additionalFields']['activeClients']).length }}
      </ng-template>
    </m-column>

    <m-column field="country" header="Country" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{(row['placement']['country']) ? row['placement']['country'] : '-' }}
      </ng-template>
    </m-column>

    <m-column field="bidType" header="Bid Type" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row['placement']['bidType']['name']}}
      </ng-template>
    </m-column>

    <m-column field="minBid" header="Min Bid" [sortable]="true"  [editable]="true" [editTrigger]="'button'">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row['placement'][col.field] ? row['placement'][col.field] : '-'}}
      </ng-template>
      <ng-template let-col let-row="row" mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input type="number" matInput #inputEditor [ngModel]="row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <div class="editor-action">
            <button mat-button (click)="closeEditor()" *ngIf="!updating">Cancel</button>
            <button mat-raised-button style="margin-left: 8px;" color="primary" (click)="updateValue('minBid', row, inputEditor.value)" *ngIf="!updating">Update</button>
            <mat-spinner *ngIf="updating" [diameter]="20"></mat-spinner>
          </div>
        </mat-card>
      </ng-template>
    </m-column>
    <m-column field="currency" header="Currency" [sortable]="true">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row['placement'][col.field] ? row['placement'][col.field] : '-'}}
      </ng-template>
    </m-column>
    <m-column field="url" header="URL" [sortable]="true" [editable]="true" [editTrigger]="'button'">
      <ng-template let-col let-row="row" mTemplate="body">
        {{row['placement'][col.field]}}
      </ng-template>
      <ng-template let-col let-row="row" mTemplate="editor">
        <mat-card class="editor-container">
          <div class="editor-body">
            <mat-form-field>
              <input matInput #inputEditor [ngModel]="row['placement'][col.field]">
              <mat-hint class="error-hint">{{updateError}}</mat-hint>
            </mat-form-field>
          </div>
          <div class="editor-action">
            <button mat-button (click)="closeEditor()" *ngIf="!updating">Cancel</button>
            <button mat-raised-button style="margin-left: 8px;" color="primary" (click)="updateValue('url', row, inputEditor.value)" *ngIf="!updating">Update</button>
            <mat-spinner *ngIf="updating" [diameter]="20"></mat-spinner>
          </div>
        </mat-card>
      </ng-template>
    </m-column>

    <ng-template mTemplate="emptyTable">
      <div *ngIf="loading" class="table-loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div>Loading...</div>
      </div>
    </ng-template>
  </m-table>
</div>

