@import "../../../scss/v2";

::ng-deep .border-right{
    border-right: 1px solid #e0e0e0;;
}

:host ::ng-deep .left-sticky {
    position: sticky;
    left: 0;
    z-index: 1;
    background: #fff;
}

:host ::ng-deep .redmarked {
    color: red;
}

:host ::ng-deep .highlight {
    margin: 5px;
    background-color: rgba(217, 228, 236, 0.5);
  }

.select-timezone-btn {
    min-width: 10rem;
}