<div class="head">
  <app-breadcrumb [segments]="breadcrumbSegments"></app-breadcrumb>
</div>


<div class="pa-2">
  <m-table
    [value]="totalStatsResp.data"
    (onFilter)="onFilter($event)"
    selection="false"
    [selectionHandler]="false"
    (onPage)="onPageChange($event)"
    (onRowClick)="onRowClick($event)"
    (onReload)="onReload()"
  >
    <m-header>
      <ng-template let-header>
        <div class="card-header">

            <div style="display: inline-flex;">
          <div class="btn-margin">
            <jv-date-range
              [displayFormat]="'MMM DD, YY'"
              [min]="minDate"
              [max]="maxDate"
              [presets]="datePresets"
              (dateChange)="onDateChange($event)"
              [(ngModel)]="dateRange"
              [direction]="'right'"
            ></jv-date-range>
          </div>
          
          <button mat-raised-button class="select-timezone-btn btn-margin" (click)=timezoneMenu.open()>
              <mat-select #timezoneMenu placeholder="Select Timezone" [(ngModel)]="timezoneId">
                <mat-option (click)="onTimezoneChange(timezone.id)" *ngFor="let timezone of v2Service.timezones" [value]="timezone.id">{{timezone.value}} ({{timezone.id}})</mat-option>
              </mat-select>
          </button>

          <div class="box-search btn-margin">
              <div class="box-search-icon">
                <button mat-icon-button (click)="onQuerySearch()">
                  <mat-icon class="mat-24" aria-label="Search icon">search</mat-icon>
                </button>
              </div>
              <div class="box-search-input-wrapper">
                <input type="text" [(ngModel)]="filters.query" placeholder="Search..." (keyup.enter)="onQuerySearch()"/>
              </div>
            </div>

          <!-- View Settings filter -->
          <button mat-raised-button (click)="viewMenu.open()" class="btn-margin">
            <mat-select #viewMenu placeholder="View" [(ngModel)]="selectedView" class="agencyList">
              <mat-option *ngFor="let option of viewOptions" [value]="option" (click)="changeView(agencyId,'agency', option)">{{
                option
              }}</mat-option>
            </mat-select>
          </button>
          </div>

          <button mat-icon-button (click)="export()" style="margin-left: auto;">
              <mat-icon style="color: #797979">file_download</mat-icon>
          </button>
        </div>
      </ng-template>
    </m-header>

    <!-- With sub header -->
    <m-column [field]="'name'" [header]="'Publisher Name'" [colBodyClass]="'left-sticky'" [colHeadClass]="'left-sticky'" *ngIf="routeType === 'agency'">
      <ng-template let-col let-row="row" mTemplate="body">
        <span>{{ row["name"] }}</span>
      </ng-template>
      <div>
        <ng-template mTemplate="subHeader">
          <span style="float: right">Compare with</span>
        </ng-template>
      </div>
    </m-column>

    <!-- With sub header -->
    <m-column [field]="'name'" [header]="'Agency Name'" [colBodyClass]="'left-sticky'" [colHeadClass]="'left-sticky'" *ngIf="routeType === 'publisher'">
        <ng-template let-col let-row="row" mTemplate="body">
          <span>{{ row["id"] }}</span>
        </ng-template>
        <div>
          <ng-template mTemplate="subHeader">
            <span style="float: right">Compare with</span>
          </ng-template>
        </div>
      </m-column>

    <!-- Joveo clicks -->
    <m-column
      [field]="'clicks'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('Joveo Clicks') ? 'highlight border-left' : 'border-left'"
      [colHeadClass]="bodyClassDecider('Joveo Clicks') ? 'highlight border-left' : 'border-left'"
    >

      <ng-template mTemplate="header">
        <span>Joveo</span>
        <br>
        <span class="sub-header">Clicks</span>
      </ng-template>


      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["clicks"]["joveo"]?.toLocaleString() }}
      </ng-template>

      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button
            mat-menu-item
            class="mat-menu-item--compact"
            *ngFor="let menu of comparemenu"
            (click)="onMenuSelection('clicks','joveo',menu)"
          >
            {{ menu.label }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" #trigger="matMenuTrigger" (click)="showClicksCompareEntities('Joveo Clicks');">
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>

    <!-- Pub Rec clicks -->
    <m-column
      [field]="'pubStats.clicks'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('Pub Rec Clicks') ? 'highlight border-left' : 'border-left'"
      [colHeadClass]="bodyClassDecider('Pub Rec Clicks') ? 'highlight border-left' : 'border-left'"
    >

     <ng-template mTemplate="header">
        <span>Pub Rec</span>
        <br>
        <span class="sub-header">Clicks</span>
      </ng-template>


      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["clicks"]["pub"]?.toLocaleString() }}
      </ng-template>
      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button
            mat-menu-item
            class="mat-menu-item--compact"
            *ngFor="let menu of comparemenu"
            (click)="onMenuSelection('clicks','pub',menu)"
          >
            {{ menu.label }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" #trigger="matMenuTrigger" (click)="showClicksCompareEntities('Pub Rec Clicks');">
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>

    <!-- CM clicks -->
    <m-column
      [field]="'cmStats.clicks'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('CM Clicks') ? 'highlight border-left' : 'border-left'"
      [colHeadClass]="bodyClassDecider('CM Clicks') ? 'highlight border-left' : 'border-left'"
    >
      <ng-template mTemplate="header">
        <span>CM</span>
        <br>
        <span class="sub-header">Clicks</span>
      </ng-template>

      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["clicks"]["cm"]?.toLocaleString() }}
      </ng-template>
      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item class="mat-menu-item--compact" *ngFor="let menu of comparemenu" (click)="onMenuSelection('clicks','cm',menu)">
            {{ menu.label }}
          </button>
        </mat-menu>
        <button
          mat-icon-button
          [matMenuTriggerFor]="appMenu"
          #trigger="matMenuTrigger"
          (click)="showClicksCompareEntities('CM Clicks');"
        >
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>

    <!-- CH clicks -->
    <m-column
      [field]="'clicks.ch'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('CH Clicks') ? 'highlight border-right' : 'border-right'"
      [colHeadClass]="bodyClassDecider('CH Clicks') ? 'highlight border-right' : 'border-right'"
    >
      <ng-template mTemplate="header">
        <span>CH</span>
        <br>
        <span class="sub-header">Clicks</span>
      </ng-template>
      
      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["clicks"]["ch"]?.toLocaleString() }}
      </ng-template>
      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item class="mat-menu-item--compact" *ngFor="let menu of comparemenu" (click)="onMenuSelection('clicks','ch',menu)">
            {{ menu.label }}
          </button>
        </mat-menu>
        <button
          mat-icon-button
          [matMenuTriggerFor]="appMenu"
          #trigger="matMenuTrigger"
          (click)="showClicksCompareEntities('CH Clicks');"
        >
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>


    <m-column [field]="compareClicksKey"
                [sortable]="false"
                [colHeadClass]="'highlight border-right'"
                [colBodyClass]="'highlight border-right'"
                *ngIf="compareClicksKey">
        <ng-template let-col
                     let-row="row"
                     mTemplate="header">
          <div matTooltip="{{compareTooltip}}" [matTooltipPosition]="'above'">
            <div class="normal-linehight">Clicks</div>
            <span>Diff (%)</span>
          </div>
        </ng-template>
        <ng-template let-col
                     let-row="row"
                     mTemplate="body">
            <span [ngClass]="row[compareClicksKey] > 3 || row[compareClicksKey] < -3  ? 'redmarked' : ''">
              {{row[compareClicksKey]}}</span>
        </ng-template>
        <ng-template mTemplate="subHeader">
          <button mat-icon-button (click)="onCloseCompare('clicks')">
            <mat-icon color="primary">compare_arrows</mat-icon>
          </button>
        </ng-template>
    </m-column>


    <!-- Joveo spend -->
    <m-column
      [field]="'spend'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('Joveo Spend') ? 'highlight border-right' : 'border-right'"
      [colHeadClass]="bodyClassDecider('Joveo Spend') ? 'highlight border-right' : 'border-right'"
    >

      <ng-template mTemplate="header">
        <span>Joveo</span>
        <br>
        <span class="sub-header">Spend</span>
      </ng-template>
      

      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["spend"]["joveo"]?.toLocaleString() }}
      </ng-template>

      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button
            mat-menu-item
            class="mat-menu-item--compact"
            *ngFor="let menu of comparemenu"
            (click)="onSpendMenuSelection('spend','joveo',menu)">
            {{ menu.label }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" #trigger="matMenuTrigger" (click)="showSpendCompareEntities('Joveo Spend');" >
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>

    <!-- Pub Rec spend -->
    <m-column
      [field]="'spend'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('Pub Rec Spend') ? 'highlight border-right' : 'border-right'"
      [colHeadClass]="bodyClassDecider('Pub Rec Spend') ? 'highlight border-right' : 'border-right'"
    >
      <ng-template mTemplate="header">
        <span>Pub Rec</span>
        <br>
        <span class="sub-header">Spend</span>
      </ng-template>
      
      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["spend"]["pub"]?.toLocaleString() }}
      </ng-template>

      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button
            mat-menu-item
            class="mat-menu-item--compact"
            *ngFor="let menu of comparemenu"
            (click)="onSpendMenuSelection('spend','pub',menu)">
            {{ menu.label }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" #trigger="matMenuTrigger" (click)="showSpendCompareEntities('Pub Rec Spend');">
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>

    <!-- Webscrape Spend -->
    <m-column
      [field]="'spend'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('Webscrape Spend') ? 'highlight border-right' : 'border-right'"
      [colHeadClass]="bodyClassDecider('Webscrape Spend') ? 'highlight border-right' : 'border-right'"
    >
      <ng-template mTemplate="header">
        <span>Webscrape</span>
        <br>
        <span class="sub-header">Spend</span>
      </ng-template>

      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["spend"]["pubPortal"] }}
      </ng-template>
      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item class="mat-menu-item--compact" *ngFor="let menu of comparemenu" 
          (click)="onSpendMenuSelection('spend','pubPortal',menu)">
            {{ menu.label }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" #trigger="matMenuTrigger" (click)="showSpendCompareEntities('Webscrape Spend');">
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>


    <!-- CH Spend -->
    <m-column
      [field]="'spend'"
      [sortable]="false"
      [colBodyClass]="bodyClassDecider('CH Spend') ? 'highlight border-right' : 'border-right'"
      [colHeadClass]="bodyClassDecider('CH Spend') ? 'highlight border-right' : 'border-right'"
    >

      <ng-template mTemplate="header">
        <span>CH</span>
        <br>
        <span class="sub-header">Spend</span>
      </ng-template>


      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["spend"]["ch"] }}
      </ng-template>
      <ng-template mTemplate="subHeader">
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item class="mat-menu-item--compact" *ngFor="let menu of comparemenu" 
          (click)="onSpendMenuSelection('spend','ch',menu)">
            {{ menu.label }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" #trigger="matMenuTrigger" (click)="showSpendCompareEntities('CH Spend');">
          <mat-icon color="primary" style="width: 18px;" svgIcon="multi-drop"></mat-icon>
        </button>
      </ng-template>
    </m-column>

    <m-column [field]="compareSpendKey"
                [sortable]="false"
                [colHeadClass]="'highlight border-right'"
                [colBodyClass]="'highlight border-right'"
                *ngIf="compareSpendKey">
        <ng-template let-col
                     let-row="row"
                     mTemplate="header">
          <div matTooltip="{{spendcompareTooltip}}" [matTooltipPosition]="'above'">
            <div class="normal-linehight">Spend</div>
            <span>Diff (%)</span>
          </div>
        </ng-template>
        <ng-template let-col
                     let-row="row"
                     mTemplate="body">
            <span [ngClass]="row[compareSpendKey] > 3 || row[compareSpendKey] < -3  ? 'redmarked' : ''">
              {{row[compareSpendKey]}}</span>
        </ng-template>
        <ng-template mTemplate="subHeader">
          <button mat-icon-button (click)="onCloseCompare('spend')">
            <mat-icon color="primary">compare_arrows</mat-icon>
          </button>
        </ng-template>
    </m-column>

    <!-- Joveo Applies -->
    <m-column
      [field]="'applies'"
      [sortable]="false"
    >
      <ng-template mTemplate="header">
        <span>Joveo</span>
        <br>
        <span class="sub-header">Applies</span>
      </ng-template>

      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["applies"]["joveo"]?.toLocaleString() }}
      </ng-template>
    </m-column>

    <!-- Pub Rec Applies -->
    <m-column
      [field]="'applies'"
      [sortable]="false"
    >
      <ng-template mTemplate="header">
        <span>Pub Rec</span>
        <br>
        <span class="sub-header">Applies</span>
      </ng-template>


      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["applies"]["pub"]?.toLocaleString() }}
      </ng-template>
    </m-column>

    <!-- CM Applies -->
    <m-column
      [field]="'applies'"
      [sortable]="false"
    >
      <ng-template mTemplate="header">
        <span>CM</span>
        <br>
        <span class="sub-header">Applies</span>
      </ng-template>

      <ng-template let-col let-row="row" mTemplate="body">
        {{ row["applies"]["cm"]?.toLocaleString() }}
      </ng-template>
    </m-column>


     <!-- Joveo CTA -->
     <m-column
     [field]="'joveoCTAPerc'"
     [sortable]="true"
   >
     <ng-template mTemplate="header">
       <span>Joveo</span>
       <br>
       <span class="sub-header">CTA(%)</span>
     </ng-template>

     <ng-template let-col let-row="row" mTemplate="body">
       {{ row["joveoCTAPerc"]}}
     </ng-template>
   </m-column>

   <m-footer [paginator]="true"
    [pageSize]="filters.limit"
    [pageIndex]="filters.page - 1"
    [pageSizeOptions]="[10,20,50]"
    [length]="totalStatsResp.totalRecords"></m-footer>


    <ng-template mTemplate="emptyTable">
      <div *ngIf="loading" class="table-loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div>Loading...</div>
      </div>

      <div *ngIf="!loading">
        <div class="alert alert-primary ma-4">No records found.</div>
      </div>
    </ng-template>
  </m-table>
</div>
