/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import './scss/base';
@import './scss/material-core';
@import 'scss/datepicker';

@import './scss/menu';

/*=============================================
=            Momentum Table Overrides            =
=============================================*/

/*=====  End of Momentum Table Overrides  ======*/

/*=============================================
=            Utilities            =
=============================================*/

@import 'scss/utils/general';
@import 'scss/utils/flexbox';
@import 'scss/utils/spacing';
@import 'scss/utils/color-classes';
@import 'scss/utils/text';
// @import 'scss/v2';

/*=====  End of Utilities  ======*/


.left-sticky {
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.1);
}

:focus {
  outline: none !important;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

.float-right{
  float: right;
}

.icon-button .mat-button-focus-overlay { background-color: transparent!important; }


.toggle-wrapper{
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: $primary;
  }
  
  .mat-slide-toggle-thumb{
    height: 10px !important;
    width: 10px !important;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: #fff;
  }
  
  .mat-slide-toggle-thumb-container{
    top: 2px !important;
    left: 5px !important;
  }
}
