<m-table [value]="placements"
         (onRowClick)="onRowClick($event)"
         (onReload)="onReload()"
         [selectable]="false" [selectionHandler]="false">

  <m-header [title]="'FTP Publishers'" [globalSearch]="true" [searchField]="'box'" [colSetting]="false" [reload]="true" [export]="true">
  </m-header>

  <m-footer [paginator]="true"></m-footer>

  <m-column field="value" header="Name"></m-column>
  <m-column field="placementType" header="Placement Type"></m-column>
  <m-column field="bidType" header="Bid Type"></m-column>
  <m-column field="ftpConfig" header="FTP Folder Path">
    <ng-template let-col let-row="row" mTemplate="body">
      <div *ngFor="let path of getFolderPath(row, col)">
        {{path}}
      </div>

    </ng-template>
  </m-column>

  <ng-template mTemplate="emptyTable">
    <div *ngIf="loading" class="table-loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div>Loading...</div>
    </div>
  </ng-template>
</m-table>
