<form class="client-form"
      [formGroup]="creationForm"
      novalidate
      (ngSubmit)="onSubmit()">
  <div mat-dialog-title class="dialog-header">
    <span style="padding-top: 1rem;">New Publisher</span>
    <mat-form-field [floatLabel]="'never'" class="header-select">
      <mat-select
        formControlName="agencyList"
        placeholder="Agencies*"
        multiple>
        <mat-option *ngFor="let agency of utilService.agencies" [value]="agency">
          {{ agency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <div class="grid-container" formGroupName="placement">
      <mat-form-field>
        <input matInput
               placeholder="Publisher Name*"
               pattern="[a-zA-Z0-9, ,.,_,(,),-]+$"
               formControlName="name">
        <mat-error *ngIf="creationForm.get('placement').get('name').errors && creationForm.get('placement').get('name').touched">
          {{getFieldErrorMessage(creationForm.get('placement').get('name').errors)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          formControlName="currency"
          placeholder="Currency*">
          <mat-option *ngFor="let currency of utilService.currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!creationForm.get('placement').get('currency').valid && creationForm.get('placement').get('currency').touched">Currency is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          (selectionChange)="onBidTypeChange($event)"
          formControlName="bidType"
          placeholder="Bid Type*">
          <mat-option *ngFor="let type of bidTypes" [value]="type.value">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!creationForm.get('placement').get('bidType').valid && creationForm.get('placement').get('bidType').touched">BidType is required</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!flatBidPublisher">
        <input type="number"
               matInput
               step="0.1"
               placeholder="Min Bid"
               formControlName="minBid">
      </mat-form-field>
      <mat-form-field *ngIf="flatBidPublisher">
        <input type="number"
               matInput
               placeholder="Flat Bid*"
               formControlName="flatBidValue">
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="placementType"
                    placeholder="Placement Type">
          <mat-option *ngFor="let type of placementTypes" [value]="type.value">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="URL*"
               formControlName="url">
        <mat-error *ngIf="!creationForm.get('placement').get('url').valid && creationForm.get('placement').get('url').touched">URL is required</mat-error>
      </mat-form-field>

      <mat-card class="full-width-col">
        <mat-card-title style="font-size: 15px;">
          Publisher Contact Details
        </mat-card-title>
        <mat-card-content>
          <div formGroupName="publisherContactDetails" class="inner-grid">
            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                name="name"
                formControlName="name"
                required>
              <mat-error *ngIf="!creationForm.get('placement').get('publisherContactDetails').get('name').valid && creationForm.get('placement').get('publisherContactDetails').get('name').touched">Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Phone"
                name="phone"
                formControlName="phone"
                required>
              <mat-error *ngIf="!creationForm.get('placement').get('publisherContactDetails').get('phone').valid && creationForm.get('placement').get('publisherContactDetails').get('phone').touched">Phone number is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Email"
                     formControlName="email"
                     name="email"
                     required>
              <mat-error *ngIf="!creationForm.get('placement').get('publisherContactDetails').get('email').valid && creationForm.get('placement').get('publisherContactDetails').get('email').touched">Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="BillingEmail"
                     formControlName="billingEmail"
                     name="billingEmail"
                     required>
              <mat-error *ngIf="!creationForm.get('placement').get('publisherContactDetails').get('billingEmail').valid && creationForm.get('placement').get('publisherContactDetails').get('billingEmail').touched">Billing email is required
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-accordion class="full-width-col">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Additional Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="inner-grid">
            <mat-form-field>
              <mat-select formControlName="country"
                          placeholder="Country">
                <mat-option *ngFor="let country of utilService.countries" [value]="country">
                  {{ country }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="industry"
                          placeholder="Industry"
                          multiple>
                <mat-option *ngFor="let industry of utilService.industries" [value]="industry">
                  {{ industry }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="perClientPlacements"
                          placeholder="PerClientPlacements">
                <mat-option *ngFor="let item of [true, false]" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="category"
                          placeholder="Category">
                <mat-option *ngFor="let category of utilService.categories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              FTP Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div formGroupName="ftpConfig">
            <div formGroupName="credentials" class="inner-grid">
              <mat-form-field class="full-width-col">
                <input
                  matInput
                  placeholder="Host*"
                  formControlName="host">
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username*"
                  formControlName="username">
              </mat-form-field>
              <mat-form-field>
                <input matInput
                       placeholder="Password*"
                       formControlName="password">
              </mat-form-field>
            </div>
            <div class="inner-grid">
              <mat-form-field class="full-width-col">
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let recipient of creationForm.get('placement').get('ftpConfig').get('alertRecipients')['controls']; let i = index"
                            [selectable]="true"
                            [removable]="true"
                            (remove)="removeRecipient(i)">
                    {{recipient.value}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="addRecipient($event)"
                         placeholder="Alert Recipients"/>
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Publisher Portal Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div formGroupName="publisherPortalDetails" class="inner-grid">
            <mat-form-field class="full-width-col">
              <input
                matInput
                placeholder="URL"
                formControlName="url">
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                formControlName="username">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Password"
                     formControlName="password">
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Publisher Reconciliation Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div formGroupName="publisherReconciliationDetails" class="inner-grid">
            <mat-form-field>
              <mat-select
                formControlName="mode"
                placeholder="Mode">
                <mat-option *ngFor="let mode of utilService.modesOfFile" [value]="mode">
                  {{ mode }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Start Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Frequency"
                     formControlName="frequency">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Timezone"
                     formControlName="timezone">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>

  <mat-error class="error-hint">{{error}}</mat-error>
  <div mat-dialog-actions>
    <button type="button" *ngIf="!loading" mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button *ngIf="!loading" mat-raised-button color="primary"  type="submit" [disabled]="!creationForm.valid">Submit</button>

    <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
  </div>
</form>
