<div mat-dialog-title>
  Edit {{data.type.name}}
</div>
<form *ngIf="data.type.value === 'ftpConfig'"
      (ngSubmit)="onSubmit()"
      [formGroup]="ftpConfig"
      novalidate>
  <div mat-dialog-content>
    <div formGroupName="credentials"
         class="grid-container">
      <mat-form-field class="full-width-col">
        <input matInput
               placeholder="Host*"
               formControlName="host">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Username*"
               formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Password*"
               formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-width-col">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let recipient of ftpConfig.get('alertRecipients')['controls']; let i = index"
                    [selectable]="true"
                    [removable]="true"
                    (remove)="removeRecipient(i)">
            {{recipient.value}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addRecipient($event)"
                 placeholder="Alert Recipients" />
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
</form>

<form *ngIf="data.type.value === 'publisherPortalDetails'"
      (ngSubmit)="onSubmit()"
      [formGroup]="publisherPortalDetails"
      novalidate>
  <div mat-dialog-content>
    <div class="grid-container">
      <mat-form-field class="full-width-col">
        <input matInput
               placeholder="URL"
               formControlName="url">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Username"
               formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Password"
               formControlName="password">
      </mat-form-field>
    </div>
  </div>
</form>

<form *ngIf="data.type.value === 'publisherContactDetails'"
      (ngSubmit)="onSubmit()"
      [formGroup]="publisherContactDetails"
      novalidate>
  <div mat-dialog-content>
    <div class="grid-container">
      <mat-form-field>
        <input matInput
               placeholder="Name"
               formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Phone"
               formControlName="phone">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Email"
               formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Billing Email"
               formControlName="billingEmail">
      </mat-form-field>
    </div>
  </div>
</form>

<form *ngIf="data.type.value === 'publisherReconciliationDetails'"
      (ngSubmit)="onSubmit()"
      [formGroup]="publisherReconciliationDetails"
      novalidate>
  <div mat-dialog-content>
    <div class="grid-container">
      <mat-form-field>
        <mat-select formControlName="mode"
                    placeholder="Mode">
          <mat-option *ngFor="let mode of utilService.modesOfFile"
                      [value]="mode">
            {{ mode }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [matDatepicker]="picker"
               formControlName="startDate"
               placeholder="Start Date">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Frequency"
               formControlName="frequency">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Timezone"
               formControlName="timezone">
      </mat-form-field>
    </div>
  </div>
</form>

<form *ngIf="data.type.value === 'agencies'"
      (ngSubmit)="onSubmit()"
      [formGroup]="agencies"
      class="edit-publisher__agencies"
      novalidate>
  <mat-form-field>
    <mat-select placeholder="Agencies"
                multiple
                formControlName="selected">
      <mat-option [disabled]="agenciesData.includes(agency)"
                  *ngFor="let agency of utilService.agencies"
                  [value]="agency">
        {{agency}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-error class="error-hint">{{updateError}}</mat-error>
<div mat-dialog-actions>
  <button type="button"
          *ngIf="!loading"
          mat-raised-button
          (click)="dialogRef.close()">Cancel</button>
  <button type="button"
          *ngIf="!loading"
          mat-raised-button
          (click)="onSubmit()"
          color="primary"
          [disabled]="!isFormValid()">Submit</button>

  <mat-spinner *ngIf="loading"
               [diameter]="30"></mat-spinner>
</div>
